
/* Author: Dante Villarreal */

html, body {
  margin: auto;
  background-color: #559dc5;
}

/******* Container/Division/Section Styles *******/

.bodycontainer {
  margin: auto;
  height: 100vh;
  background-color: #559dc5;
  text-align: center;
  font-family: Verdana, sans-serif;
  padding: 0;
  color: white;
}

.div1 {
  background-color: #559dc5;
}

.extraInfoBoxes {
  background-color: #559dc5;
  display: none;
  margin: auto;
}

.tahitiFacts, .tahitiLegend {
  width: 85%;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: left;
  padding-left: 5.5px;
  font-size: 0.8em;
  padding-bottom: 1px;
  padding-top: 0
}

.tahitiFacts {
  background-color: #cdc252;
}

.tahitiLegend {
  background-color: #5f6686;
  
}

/******* Header Styles *******/
h1 {
  font-family: cursive;
  text-align: center;
  color: #104a77;
}

h3 {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 5px;
}

/******* Nav Styles *******/

.tahitiHomeButton > a:link, .tahitiHomeButton:visited {
  color: #104a77; 
}

nav > ul {
  margin: auto;
  padding: 0;
  text-align: center;
  padding-bottom: 10px;
}

nav > ul > li {
  list-style: none;
  padding: 4px;
}

a:link, a:visited {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: #104a77;
}

/******* Image Styles *******/

img {
  width: 100%;
}

.TahitiMeridien {
  display: none;
}

.TahitiRomanticDinner {
  display: none;
}

/******* Paragraph Styles *******/

p {
  padding-left: 10%;
  padding-right: 10%;
}

.extraDescription {
  display: none;
}

.tahitiLegendPar {
  padding: 1%; 
  text-align: left;
}

/******* Button Styles *******/

button {
  padding: 10px;
  text-align: center;
  display: inline-block;
  border-radius: 12px;
  font-size: 1.1em;
  margin-bottom: 15px;
  background-color: #2edddb;
  color: #104a77;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
  background-color: #104a77;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/******* Footer Styles *******/

footer {
  background-color: #104a77;
  padding: 4px;
  font-size: xx-small;
  color: white;
}



/******* Responsive Styles *******/

/******* Tablet Styles *******/

@media screen and (min-width: 575px) {
  nav > ul > li {
    display: inline;
  }

  .bodycontainer {
    font-size: 1.1em;
  }

  .extraInfoBoxes {
    display: initial;
  }

  .tahitiLegend {
    display: none;
  }

  .Tahiti, .TahitiMeridien {
    display: initial;
    width: 49%;
    
  }
}

/******* Desktop/laptop Styles *******/

@media screen and (min-width: 1020px) {
  .tahitiLegend {
    display: block;
  }

  .Tahiti, .TahitiMeridien, .TahitiRomanticDinner {
    display: initial;
    width: 32%;
  }

  button {
    padding: 15px;
    font-size: 1.3em;
  }

  .bodycontainer {
    font-size: 1.3em;
  }

  p {
    padding-left: 15%;
    padding-right: 15%;
  }

  .extraDescription {
    display: block;
  }
}